---
---

@import "{{ site.theme }}";

header {
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, serif;

	h1 {
		width: auto;
	}
}

aside#sidebar {
	.latest-posts {
		h3 {
			margin-bottom: 4px;
		}
		.post-date {
			margin-bottom: 8px;
			color: #333;
		}
		div {
			color: #666;
			small {
				color: #2879d0;
			}
		}
	}

	hr {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}		
}